## Assignments

Son Huynh
31.01.2020

In [58]:
import pandas as pd

In [59]:
cars = pd.read_csv('cars.csv')

cars

Select columns 'Make', 'Model' and 'MSRP'

In [60]:
# Son's solution
# cars[['Make', 'Model', 'MSRP']]
#--------------

#cars.columns # to just see what all the columns are

# 4. Slicing in Lecture 6
cols = ['Make', 'Model','MSRP']
cars.loc[0:3, cols]

    Make           Model   MSRP
0  Acura             MDX  36945
1  Acura  RSX Type S 2dr  23820
2  Acura         TSX 4dr  26990
3  Acura          TL 4dr  33195

What is the price (MSRP) of the car at index position 100?

In [61]:
# Son's solution
# cars.iloc[100,:].MSRP
#---------------


# Manufacturer's suggested Retail Price

# cars.iloc[100] # to get index position 100 - note MSRP in there
cars.iloc[100,5] # to get the MSRP from index position 100?

30950

Select first 10 rows and last 3 columns. Try both iloc and loc methods

In [62]:
# Son's solution
# cars.iloc[:10, -3:]
#---------------


#cars.head(3)
#cars.tail(3)

#cars.loc[0:3, cols] # When using loc, the range is inclusive
# got hints from: https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

cars.iloc[:10, -3:]

   Weight  Wheelbase  Length
0    4451        106     189
1    2778        101     172
2    3230        105     183
3    3575        108     186
4    3880        115     197
5    3893        115     197
6    3153        100     174
7    3252        104     179
8    3638        105     180
9    3462        104     179

In [63]:
# Son's solution - note he has 9, not 10!
# cars.loc[0:9, 'Weight':'Length']

#-----------------




# INCOMPLETE, RETURN TO THIS!

#cars.loc[:10,cols]
#cars.loc[:10:-3, cols]
#cars.columns
cars.loc[:10, 'Weight':'Length']

    Weight  Wheelbase  Length
0     4451        106     189
1     2778        101     172
2     3230        105     183
3     3575        108     186
4     3880        115     197
5     3893        115     197
6     3153        100     174
7     3252        104     179
8     3638        105     180
9     3462        104     179
10    3583        104     179

Show the number of European cars without using value_counts()?

In [64]:
# Son's solution
# cars[cars.Origin == 'Europe'].shape[0]
# 
# #or
# #len(cars[cars.Origin == 'Europe'])
#--------------




cars.Origin.value_counts() # to get the countries, no, wait - this gives the number for all countries.
# cars.Origin.value_counts('Europe') # and this gives the share in percentage for all countries.
# cars.columns # which column is origin in - 3
#cars.Origin.value_counts(3) # this would be the value_counts way, without filtering for Euro
#cars.Origin

Asia      158
USA       147
Europe    123
Name: Origin, dtype: int64

Show all entries of model 'G35 4dr'

In [65]:
# Son's solution
# cars[cars.Model == 'G35 4dr']
#--------------


# TESTS
#cars 
#cars.Model.str.find('G35 4dr')
# data["Indexes"]= data["Name"].str.find(sub, start) 

cars[cars['Model'].str.contains('G35 4dr')]

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
179,Infiniti,G35 4dr,Sedan,Asia,Rear,28495,3.5,6.0,260,18,26,3336,112,187
181,Infiniti,G35 4dr,Sedan,Asia,All,32445,3.5,6.0,260,18,26,3677,112,187

Show all cars with MSRP higher than 100000

In [66]:
# Son's solution
#cars[cars.MSRP > 100000]
#--------------


# TESTING 
#cars.columns
#cars.head(10)
#ok, in the CSV file, there are about 4 such cars
#cars.MSRP(x>100000)
#cars.loc[5]

cars.MSRP.sort_values(ascending=False).head(4)

334    192465
262    128420
271    126670
270    121770
Name: MSRP, dtype: int64

What is the weight of the L300-2 4dr ?

In [67]:
# Son's solution:
# #Lazy style
# cars[cars.Model == 'L300-2 4dr'].Weight
# 
# #Proper style
# cars.loc[cars.Model == 'L300-2 4dr', 'Weight']
#----------------


#cars[cars['Model'].str.contains('L300-2 4dr')] # see this for the whole row of data
cars[cars['Model'].str.contains('L300-2 4dr')].Weight # so, just tried to add this to the end

350    3197
Name: Weight, dtype: int64

Create a new column called MPG_Avg, which is calculated as (MPG_City + MPG_Highway) / 2

In [68]:
# error: name 'MPG_City' is not defined

cars['MPG_Avg'] = cars.MPG_City + cars.MPG_Highway / 2 
# note: I removed the brackets from above and added the 'cars.' 
# from Lecture 6's 'Create and delete column' section.
cars

#cars.columns

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_Avg
0,Acura,MDX,SUV,Asia,All,36945,3.5,6.0,265,17,23,4451,106,189,28.5
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,2.0,4.0,200,24,31,2778,101,172,39.5
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,2.4,4.0,200,22,29,3230,105,183,36.5
3,Acura,TL 4dr,Sedan,Asia,Front,33195,3.2,6.0,270,20,28,3575,108,186,34.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,3.5,6.0,225,18,24,3880,115,197,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,2.4,5.0,197,21,28,3450,105,186,35.0
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,2.3,5.0,242,20,26,3450,105,186,33.0
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,2.9,6.0,268,19,26,3653,110,190,32.0
426,Volvo,V40,Wagon,Europe,Front,26135,1.9,4.0,170,22,29,2822,101,180,36.5
427,Volvo,XC70,Wagon,Europe,All,35145,2.5,5.0,208,20,27,3823,109,186,33.5

Miles per gallon (MPG) can be converted to Litre per 100 Kilometers (LPK). The formula is LPK = 235.21 / MPG

Create a new column called LPK from MPG_Avg using the formula above and round the result to 2 decimals.

In [69]:
# Son's solution
# cars['LPK'] = (235.21/cars.MPG_Avg).round(2)
#---------------

Merge two columns Make and Model into a new column called Make_Model (e.g. 'Acura MDX').

Remove Make and Model columns.

Set Make_Model as the dataframe index.

In [70]:
# Son's solution
# cars['Make_Model'] = cars.Make + ' ' + cars.Model
# 
# cars = cars.drop(columns=['Make', 'Model'])
# 
# cars = cars.set_index('Make_Model')
#----------------

(Optional) Write a function that returns all the column pairs with a correlation higher than 0.7 or lower than -0.7

Example output: 

- Wheelbase and Length: 0.89
- MPG_Highway and Weight: -0.79

In [71]:
corr = cars.corr()

corr

,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_Avg
MSRP,1.000000,0.571753,0.649742,0.826945,-0.475020,-0.439622,0.448426,0.152000,0.172037,-0.468856
EngineSize,0.571753,1.000000,0.908002,0.787435,-0.709471,-0.717302,0.807867,0.636517,0.637448,-0.722049
Cylinders,0.649742,0.908002,1.000000,0.810341,-0.684402,-0.676100,0.742209,0.546730,0.547783,-0.690849
Horsepower,0.826945,0.787435,0.810341,1.000000,-0.676699,-0.647195,0.630796,0.387398,0.381554,-0.675427
MPG_City,-0.475020,-0.709471,-0.684402,-0.676699,1.000000,0.941021,-0.737966,-0.507284,-0.501526,0.992600
MPG_Highway,-0.439622,-0.717302,-0.676100,-0.647195,0.941021,1.000000,-0.790989,-0.524661,-0.466092,0.975142
Weight,0.448426,0.807867,0.742209,0.630796,-0.737966,-0.790989,1.000000,0.760703,0.690021,-0.767155
Wheelbase,0.152000,0.636517,0.546730,0.387398,-0.507284,-0.524661,0.760703,1.000000,0.889195,-0.520504
Length,0.172037,0.637448,0.547783,0.381554,-0.501526,-0.466092,0.690021,0.889195,1.000000,-0.495714
MPG_Avg,-0.468856,-0.722049,-0.690849,-0.675427,0.992600,0.975142,-0.767155,-0.520504,-0.495714,1.000000

In [72]:
''' Notice that the corr table is symmetrical, separated by the diagonal values. 
Therefore we only need to check the top half or bottom half of the table.
Here I'm choosing to check only the top half.
By iterating j from i+1, I can avoid checking the diagonal values and the bottom half.

Also, I mentioned that you should avoid using for-loop to loop through your data.
However, here it is acceptable because the correlation table is usually very small.
You are not looping through hundreds or thousands of row. So there is no performance issue here.
'''

def high_corr(corr, threshold):
    pair_list = []
    
    for i in range(0,len(corr)):
        for j in range(i+1,len(corr)):
            if (corr.iloc[i,j] > threshold) or (corr.iloc[i,j] < -threshold):
                pair_list.append((corr.iloc[i,j], i, j))

    return pair_list
    #If you want to show higher ones first            
    #return sorted(pair_list,key=lambda x: -abs(x[0]))


cols = corr.columns
for val, i, j in high_corr(corr, 0.7):
    print(f'{cols[i]} and {cols[j]}: {val:.2f}')

MSRP and Horsepower: 0.83
EngineSize and Cylinders: 0.91
EngineSize and Horsepower: 0.79
EngineSize and MPG_City: -0.71
EngineSize and MPG_Highway: -0.72
EngineSize and Weight: 0.81
EngineSize and MPG_Avg: -0.72
Cylinders and Horsepower: 0.81
Cylinders and Weight: 0.74
MPG_City and MPG_Highway: 0.94
MPG_City and Weight: -0.74
MPG_City and MPG_Avg: 0.99
MPG_Highway and Weight: -0.79
MPG_Highway and MPG_Avg: 0.98
Weight and Wheelbase: 0.76
Weight and MPG_Avg: -0.77
Wheelbase and Length: 0.89